footer {
    background-color:rgb(255, 102, 153);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
footer > p{
    margin: 10px;
    color: pink;
}
